<% @photos.each do |photo| %>
  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      <div class="media">
        <%= link_to user_path(photo.user.id) do %>
          <img class="media-object" width="100px" src="<%= photo.user.image_url %>" alt="">
        <% end %>
        <div class="media-body">
          <h4 class="media-heading"><%= photo.user.name %></h4>
          created <%= time_ago_in_words photo.created_at %> ago
        </div>
      </div>



    </div>
    <div class="well col-md-6">
      <div class="thumbnail">
        <img alt="<%= photo.caption %>" class="img-responsive" src="<%= photo.source %>">
        <div class="caption">
          <p class="lead"><%= photo.caption %></p>
          <p>
            <%= link_to photo_path(photo.id), :class => "btn btn-primary" do %>
              <i class="fa fa-search-plus"></i>
            <% end %>
            <% favorite = Favorite.where(user_id: 7, photo_id: photo.id).first %>
            <% if favorite.present? %>
              <%= link_to favorite_path(favorite.id), method: :delete, class: 'btn btn-success', title: 'Unfavorite'  do %>
                <i class="fa fa-heart"></i> Unfavorite
              <% end %>
            <% else %>
              <%= link_to new_favorite_path, class: 'btn btn-success' do %>
                <i class="fa fa-heart-o"></i>
              <% end %>
            <% end %>
            <%= link_to edit_photo_path(photo.id), :class => "btn btn-warning" do %>
              <i class="fa fa-edit"></i>
            <% end %>

            <%= link_to photo_path(photo.id), :class => "btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} do %>
              <i class="fa fa-trash-o"></i>
            <% end %>
          </p>
        </div>
      </div>
      <% photo.comments.each do |comment| %>
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="media-object" width="50px" src="<%= comment.user.image_url %>" alt="<%= comment.user.name %>">
            </a>
          </div>
          <div class="media-body">
            <%= comment.contents %>
          </div>
        </div>
      <% end %>

      <!-- Validation failure messages -->

      <% if @comment.errors.any? %>
        <% @comment.errors.full_messages.each do |message| %>
          <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <%= message %>
          </div>
        <% end %>
      <% end %>

      <!-- Responsive panel example -->

      <div class="row">
        <div class="col-md-6">
          <% if user_signed_in? %>
            <%= form_tag comments_url, :method => "post", :class => "form-horizontal" do %>
              <!-- Label and input for user_id -->
              <div class="form-group">
                <div class="col-sm-10">
                  <%#= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :name, @comment.user_id), class: 'form-control', include_blank: true) %>
                  <input type="hidden" value="<%= current_user.id %>" name="user_id">
                </div>
              </div>


              <!-- Label and input for photo_id -->
              <div class="form-group">

                <div class="col-sm-10">
                  <%#= select_tag(:photo_id, options_from_collection_for_select(Photo.all, :id, :caption, @comment.photo_id), class: 'form-control', include_blank: true) %>
                  <input type="hidden" value="<%= photo.id %>" name="photo_id">
                </div>
              </div>

              <!-- Label and input for contents -->
              <div class="form-group">
                <label for="contents" class="control-label sr-only">
                  Contents
                </label>
                <div class="col-sm-12">
                  <input type="text" id="contents" name="contents" placeholder="Add a comment..." class="form-control" value="<%= @comment.contents %>">
                </div>
              </div>

            <% end %>
          <% else %>
            <div>You must be signed in to add a comment</div>
          <% end %>
        </div>
      </div>

      <!-- End responsive panel example -->

    </div>
  </div>
<% end %>


